<!--Body content-->
<div class="list-group feed-list" ng-repeat="feed in feeds">
	<a href="#/article/{{$index + 1}}" class="list-group-item">
		<div id="feed-snippet">
			<span class="feed-date">{{feed.publishedDate |  todate}}</span> 
			<h4 class="list-group-item-heading">{{feed.title}}</h4>
			<p ng-bind-html="feed.contentSnippet" class="list-group-item-text" ></p>
		</div>	
		<div id="feed-icon">	
			<p ng-bind-html="feed.content | feedicon" class="list-group-item-text" ></p>
		</div>	
	</a>
</div>	
