<div class="row">
	<div class="col-md-12">
		<div class="media">
			<a href="#articles">
				<img class="media-object pull-left" src="..." alt="Stay Healthy">
				<div class="media-body">
					<h4 class="media-heading">Stay Healthy</h4>
					All Recent blog news from your mobile.
				</div>
			</a>
		</div>	
		<div class="media">
			<a href="#aboutus">
				<img class="media-object pull-left" src="..." alt="Who are we">
				<div class="media-body">
					<h4 class="media-heading">Who are we?</h4>
					Find out who we are from this page.
				</div>
			</a>	
		</div>	
		<div class="media">
			<a href="http://stayhealthy.careerwrap.com/" target="_blank">
				<img class="media-object pull-left" src="..." alt="Mobile Website">
				<div class="media-body">
					<h4 class="media-heading">Blog's mobile website</h4>
					Visit mobile version of our blog website.
				</div>
			</a>	
		</div>	
		<div class="media">
			<a href="#contactus" target="_blank">
				<img class="media-object pull-left" src="..." alt="Contact us">
				<div class="media-body">
					<h4 class="media-heading">Contact us</h4>
					Click here to contact us by email! 
				</div>
			</a>
		</div>	
	</div>
</div>
